.navigation {
  height: 200px;
  width: 150px;
  left: 32px;
  top: 100px;
  border-radius: 0px;
}
.playlist {
  height: 32px;
  width: 71px;
  left: 0px;
  top: 0px;
  border-radius: nullpx;
  color: azure;
}
